<!DOCTYPE html>
<html>
<body style="width: 500px;">
    <!-- TEMPLATE STARTS HERE -->
    <div style="font-family: 'Helvetica New', 'Helvetica', 'Arial'; color: #3F3F3F">
        <!-- HEADER -->
        <div style="background: #FFFFFF;">
            <div
                style="display: flex; justify-content:space-between; align-items: center; padding: 1rem 1rem;">
                <img style="width: 250px;" src="https://lh3.googleusercontent.com/oZOWZ0aPuDb9V1TPHhYALF6mhi8wxGo5XkB8xfgSSccNwoWvJZd75J7F_tKrO1GOD8I2jltpW9gjkA=w1512-h969-rw"/>
                <a style="color: #009FC3;"> (03) 9873 8866</a>
            </div>
        </div>
        <!-- SECTION 1 -->
        <div style="position: relative;">
            <div style="
                height: 365px;
                width: 100%;
                background-image: url('https://lh5.googleusercontent.com/UHaR2RAi2tVMxHHRIOpGZ7TLVLgOgUXuROD31dzEQCwfUyU3TfAIHoQYZ6KyVYWJVaBm65xn9Kupqg=w1512-h969');
                background-size: cover;
                background-position: center;
            "/>
            <p style="
                color: #009FC3; 
                font-size: 32px; 
                font-weight: bolder; 
                position: absolute; 
                top: 0;
                left: 20px;
                width: 200px;
            ">Save $275 on a Prepaid Funeral*</p>
        </div>
        <!-- SECTION 2 -->
        <div style="
                background-color: #FFFFFF; 
                padding: 40px; 
                text-align: center;">
            <p style="font-size: 26px; font-weight: bolder">We are delighted to announce this special offer on our pre-paid funerals.</p>
            <p style="margin-bottom: 2rem; line-height: 1.5rem;">If you arrange a pre-paid funeral with Bethel before *31st March 2020, we’ll
                waive our $275 administration fee. So, not only will you save money today, you’ll also benefit from
                having your funeral costs fixed at today’s prices – saving your family the financial costs of a funeral
                in the future.</br></br>At Bethel Funerals we think the real value of a pre-paid funeral is peace of
                mind. You will have peace of mind knowing that your wishes will be thoughtfully carried out by our
                professional caring staff and you’ll have peace of mind knowing that your loved ones won’t need to find
                money to pay for the service when the time comes.</br></br>To make an enquiry, simply click on the
                button below and one of our helpful staff will respond to you in the next 24 hours</p>
            <div style="
                border: 1px solid #009FC3;
                color: #009FC3;
                padding: 1rem 2rem;
                font-weight: bolder;
                cursor: pointer;
                width: 100px;
                margin: 0 auto;
            ">Enquire Now</div>
        </div>
        <!-- SECTION 3 -->
        <div style="
            background-color: #DFEFF6; 
            display: flex; 
            justify-content: center; 
            flex-direction: column; 
            text-align: center;
            padding: 10px 25px;
        ">
            <p style="font-size: 26px; font-weight: bolder">Learn more about Pre-paid funerals</p>
            <p style="margin-bottom: 2rem; line-height: 1.5rem; margin-top: 0;">Here are a few helpful resources you might find useful when considering a pre-paid funeral:</p>
            <div style="display: flex; justify-content: space-between;/">
                <a style="width: 140px; cursor: pointer; display: flex; flex-direction: column;">
                    <img style="width: 140px;" src="https://lh3.googleusercontent.com/X-bBFxu__oTVvknKh_degoG4eYJ2R6IJilyRg_EOWQivXC9jxtR-IjYDeBYr7cYN2yoZ6xQ1n0yHwQ=w1920-h969"/>
                    <p style="font-weight: bold; text-align: left; text-transform: uppercase;">Pre-Paid Funeral Calculator</p>
                </a>
                <a style="width: 140px; cursor: pointer; display: flex; flex-direction: column;">
                    <img style="width: 140px;" src="https://lh5.googleusercontent.com/xez6riSDiUbzf1UwZybkKGIiZJHk7rXh00_07M5VH8ixKIb4xFtD0M36Jsh-34kiJ1RfvuHb9K_QIA=w1512-h969"/>
                    <p style="font-weight: bold; text-align: left; text-transform: uppercase;">Funeral Bonds vs. Funeral Insurance</p>
                </a>
                <a style="width: 140px; cursor: pointer; display: flex; flex-direction: column;">
                    <img style="width: 140px;" src="https://lh6.googleusercontent.com/LzR0QIbDxkrQaCLHVbpE70sgSUWJepCkuKlv1iaelwOmmvhxN02aF_yG_lYzE3noudH-c_OK2vQkTA=w1512-h969"/>
                    <p style="font-weight: bold; text-align: left; text-transform: uppercase;">Pre-Paid Funerals vs. Funeral Bonds</p>
                </a>
            </div>
        </div>
        <!-- FOOTER -->
        <div style="background: #FFFFFF;">
            <div style="line-height: 1.5rem; text-align: center; font-size: 12px; padding: 1rem 0; color: #000000;">
                <p>Copyright © 2020 Bethel Funerals, All rights reserved.</br></br>Our mailing address is:</br>620 Frankston-Dandenong Road, Carrum Downs, VIC 3201</br></br>Want to change how you receive these emails?</br>You can <a style="text-decoration: underline; cursor: pointer;">unsubscribe</a> from this list.</p>
            </div>
        </div>
    </div>
    <!-- TEMPLATE ENDS HERE -->
</body>

</html>