@import './variables.scss';

span, p, label {
    &.required:after {
        content: " *";
    }
}
h2 {
    font-weight: bolder;
    @media screen and (max-width: 768px) { font-size: 28px; }
    @media screen and (max-width: 425px) { font-size: 20px; }
}

.btn-outline-light {
    font-weight: bold;
    padding: .75rem 4rem;
    border-radius: 0;
    &:hover {
        color: $primary;
    }
    &.inverted {
        color: $primary;
        border-color: $primary;
        margin-top: 2rem;
    }
}